<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

    

<!-- 

<property name="dialect">org.hibernate.dialect.H2Dialect</property>
<property name="connection.driver_class">org.h2.Driver</property>
<property name="connection.url">jdbc:h2:~/unittest-restaurentdb</property>
 -->
 	<!--
 	<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/chat</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">password</property> 
 	 -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://192.168.4.112:5432/d5510f24f46a64ed2abd1851399d795d5</property>
		<property name="connection.username">uf3ff82856d2d482f8613593196422955</property>
		<property name="connection.password">p5561a6ad801842bea65506eaf7a1812a</property>
		
		<!-- JDBC connection pool (use the built-in) -->
		<!--<property name="connection.pool_size">1</property>-->
		<!-- SQL dialect -->
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache -->
		
		<property
		name="cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
	
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>
		<!-- Drop and re-create the database schema on startup -->
		<!-- 
		<property name="hbm2ddl.auto">update</property>
 		-->
 		<property name="hbm2ddl.auto">update</property>
 		
		 <mapping class="com.next.infotech.persistance.jpa.impl.User"/>
  		 
	</session-factory>
</hibernate-configuration>